<div class="grid grid-cols-3 gap-8">
  <app-product [title] = "'producto 1'" [price]="12" (addToCart)="fromHijo($event)"/>
  <app-product [title] = "'producto 2'" [price]="12" (addToCart)="fromHijo($event)"/>
  <app-product [title] = "'producto 3'" [price]="12" (addToCart)="fromHijo($event)"/>
  <app-product [title] = "'producto 4'" [price]="12" (addToCart)="fromHijo($event)"/>
  <app-product [title] = "'producto 5'" [price]="12" (addToCart)="fromHijo($event)"/>
  <app-product [title] = "'producto 7'" [price]="12" (addToCart)="fromHijo($event)"/>
</div>

