<div class="container">
    <h1>mismo</h1>
    <h2>{{ title }}</h2>
    <ul>
      <li *ngFor="let l1 of tasks ();">
        {{ l1 }}
      </li>
    </ul>
    <hr />

    <!-- el uso de {{}} hace que un html normal se vuelva dinamico y podamos operar -->
    <!-- para utilizar valores quwe estan en el controlador desde el html, se usan los [], para llamar a los valores que tengamos en el controlador -->

    <h2>mi nombre es {{ name}}</h2>

    <button (click)="clickHandler()">click mee</button>
    <button (dblclick)="clickHandler()">dbclick mee</button>

   <!-- Lo importante de las señales es que cada accion que ejecutamos manda una señal
  que modifica el arbol de eventos automaticamente -->
    <h1>signals</h1>

    <h2>Hola soy {{name()}}</h2>
    <input type="text" [value]="name()" (change) = "changeHandler($event)">

    <p>name : {{name()}}</p>


    <br>

    <!-- Las directivas de control son como las directicas como if, for, pero con mas
    funcionalidades -->
    <p>total : {{tasks().length}}</p>
    <ul>
      <li *ngFor="let l1 of tasks (); index as i ">
        {{i}} {{ l1 }}
      </li>
    </ul>

    <!-- hacemos uso del ngif como conficionales dentro del HTML -->
    <div *ngIf="1 !== 1">
      Mi contenido
    </div>
    <div *ngIf="name() === 'jimi joe'">
      Mi contenido de nombre
    </div>

    <!-- recuerda que para usar el valor o los valores de una señal tenemos que suscribirnos al obgeto -->
    <!-- Estariamos usado los objetos como entrado a los atributos de un objeto -->
    <div *ngIf="person().name === 'jimi' && person().age > 17; else elseBlock">
      <!-- interesante por que si no se cumple podemos generar el if con lo que si se cumplira -->
      Obejto señal
    </div>

    <!-- parte que se realiza si no cumple el if anterior -->
    <ng-template #elseBlock>
      informacion del ng template
    </ng-template>
  </div>

