<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar :</h5>
        <input type="text" class="form-control" placeholder="buenos dias" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolorem
        dicta ea a. Ipsa optio veritatis expedita nisi quo fugit id voluptate
        commodi incidunt quos natus quae, blanditiis qui dolore.
      </div>
    </div>
  </div>
</div>
